$base-font-size: 13px;
$base-line-height: 30px;
$base-font-weight: 400;
$base-font-family: "Montserrat";

/* colors */

$text-on-white: #333333;
$white: #ffffff;
$black: #000000;
$background-blue: #0089ad;
$background-gray: #f6f5f4;
$background-dark: #cdccce;
$yellow: #ffff00;
