.main-header {
	background-image: url('../img/serega-mobile.jpg');
	background-repeat: no-repeat;
	background-position: right -25px top -10px;
}

@media (min-width: 768px) {

	.main-header {
		padding-top: 24px;
		background-image: url('../img/sergey-768.jpg');
		background-position: right -40px bottom -20px;
		background-position: right -40px bottom 0;
	}
}

@media (min-width: 1024px) {

	.main-header {
		padding: 0 4.6%;
		padding-top: 30px;
		background-image: url('../img/sergey-1024.jpg');
	}
}

@media (min-width: 1440px) {

	.main-header {
		background-image: url('../img/sergey-1440.jpg');
	}
}
