.new-customer-message {
	padding: 32px 4.6%;
	padding-top: 54px;
	text-align: center;
	color: $background-blue;
	font-weight: 500;
}

.new-customer-message p {
    margin-bottom: 8px;
}

.new-customer-message__greeting {
	font-size: 15px;
}

.new-customer-message__bidding {
	font-size: 18px;
}

.new-customer-message a {
	@include link-style;
	margin-top: 15px;
}

@media (min-width: 768px) {

	.new-customer-message {
	  padding-top: 42px;
	  padding-bottom: 48px;
	}

	.new-customer-message p {
    margin-bottom: 12px;
	}

	.new-customer-message__greeting {
		font-size: 18px;
	}

	.new-customer-message__bidding {
		font-size: 22px;
	}

	.new-customer-message a {
		margin-top: 35px;
	}
}

@media (min-width: 1024px) {

	.new-customer-message {
		padding-top: 52px;
	  padding-bottom: 68px;
	  font-size: 18px;
	}

	.new-customer-message p {
    margin-bottom: 18px;
	}

	.new-customer-message__greeting {
		font-size: 22px;
	}

	.new-customer-message__bidding {
		font-size: 28px;
	}
}

@media (min-width: 1440px) {

	.new-customer-message {
	  padding-bottom: 75px;
	  font-size: 22px;
	}

	.new-customer-message p {
    margin-bottom: 22px;
	}

	.new-customer-message__greeting {
		font-size: 28px;
	}

	.new-customer-message__bidding {
		font-size: 36px;
	}

	.new-customer-message a {
		margin-top: 45px;
	}
}
